
#buttonCredit1{
    -fx-background-color: #505050;
    -fx-text-fill: #ff0000;
}

#buttonCredit2{
    -fx-background-color: #505050;
    -fx-text-fill: #18AC00;
}

#buttonCredit1:hover {
    -fx-background-color:  #ff0000;
    -fx-text-fill:  #1a1a1a;
}

#buttonCredit2:hover {
    -fx-background-color:  #00ff04;
    -fx-text-fill:  #1a1a1a;
}

.jfx-text-field{
    -fx-background-color: #1a1a1a;
    -fx-font-family: "Roboto Bold";
    -fx-font-size: 13pt;
    -fx-prompt-text-fill: white;
    -fx-text-fill: white;

}
.label{
    -fx-font-family: "Roboto Thin";
    -fx-font-size: 15pt;
}

.label-header{
    -fx-font-family: "Roboto Bold";
    -fx-font-size: 25pt;
}

.label-mini{
    -fx-font-family: "Roboto Thin";
    -fx-font-size: 9pt;
}
.jfx-text-field {
     -fx-prompt-text-fill: derive(-fx-control-inner-background,-60%);
    -fx-font-family: "Roboto Thin";
 }
.jfx-text-field:focused {
    -fx-prompt-text-fill: derive(-fx-control-inner-background,-60%);
    -fx-font-family: "Roboto Thin";
}
.text{

}

