.label{
    -fx-text-fill: white;
}
.radio-button{
    -fx-text-fill: white;
}
#presentationButton{
    -fx-background-color: #ff6609;
    -fx-text-fill:#000000;
}
#startSimulationButton{
    -fx-background-color: #1ea9ff;
    -fx-text-fill:#000000;
}
#buttonForm1{
    -fx-background-color: #1ea9ff;
    -fx-text-fill:#000000;
}

.radio-button:hover{
    -fx-background-color: #18AC00;
}
#buttonForm1:hover{
    -fx-background-color: #18AC00;
    -fx-text-fill:  #000000;
}
#startSimulationButton:hover{
    -fx-background-color: #18AC00;
    -fx-text-fill:  #000000;
}

#presentationButton:hover{
    -fx-background-color: #18AC00;
    -fx-text-fill:  #000000;
}